

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Menu - Restaurant</title>
</head>
<body>

    <header>
        <h1>Notre Menu</h1>
        <nav>
            <%- include('partials/navbar') %>
        </nav>
    </header>

    <section>
        <section>
            <%- thes.forEach(t => { %> 
                <h3><%= t.nom %></h3>
                <span><%= t.prix %></span><br>
                <input type="button" value="supprimer" onclick="">
                <input type="button" value="modifier" onclick="remplirDoonnees('<%= t.id %>', '<%= t.nom %>', '<%= t.prix %>')">
            <% }) %>
        </section>
        
    <br>
    <br>

    <div class="sur">
        <h2>Plats Disponibles</h2>
        <ul>
            <li>tchack  - 15€</li>
            <li>Pilao - 10€</li>
            <li>Poulpe - 12€</li>
            <li>pates carborna - 12€</li>
        </ul>
    </div>

    <div class="image">
        <img src="images/Pates.jpg" alt="">
        <figcaption>Voulé tchak tchak :15€.</figcaption>
        <br>
        <img src="pilao.jpg" alt="">
        <figcaption>Plat classique de Mayotte : 10€ </figcaption>
        <br>
        <img src="pouple.jpg" alt="">

        <figcaption>Poulpe na lada soif : 12€</figcaption>

       </div>
       <br>

       <div class="images">
        <img src="Pizzas.jpg" alt="">
        <figcaption>Pizza Margharita :10€.</figcaption>
        <br>
        <img src="Pates ita.jpg" alt="">
        <figcaption>Pates carbonera :12€.</figcaption>
        <br>
        <img src="Salade.jpg" alt="">
        <figcaption>Salade César :8€.</figcaption>
        <br>
        <img src="Steack.jpg" alt="">
        <figcaption>Steack Frites :15€.</figcaption>
    </div>
    <br>

    <script>
        function remplirDoonees(id, nom, prix) {
            document.querySelector("#id").value = id;
            document.querySelector("#nomplat").value = nom;
            document.querySelector("#prix").value = prix;
        }
    </script>
     
     
    <div>
        <form action="/plat" method="post">
        <label for="nomplat">Nom du plat:</label><br>
        <input type="text" name="nomplat" id="nomplat"><br>
        <label for="prixplat">Prix:</label><br>
        <input type="number" id="prix" name="prix"><br><br>
        <input type="submit" value="Enregistrement">

      </form>

</body>
<%- include('partials/footer') %>
</html>
